<%- include('./partials/header'); -%>
<div class="container">
    <form action="/stores" method="POST">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">add new store</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="storeName">ADD NEW <%= data.storeName %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">store name:</label>
                    <input type="text" class="form-control" name="storeName" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">contact:</label>
                    <input class="form-control" name="storeContact " id="message-text"></input>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">store sddress:</label>
                    <input class="form-control" name="storeAddr" id="message-text"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">city:</label>
                    <input class="form-control" name="storecity" id="message-text"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">description:</label>
                    <input class="form-control" name="<storeDesc" id="message-text"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">image:</label>
                    <input class="form-control" name="storeImage" id="message-text">
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">ADD STORE</button>

              </div>
            </div>
          </div>
        </div>
    </form>
<div class="row">
<% for(var i=0;i<data.length;i++) { %>
    <div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded ">
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img src="<%=data[i].storeImage %>" class="card-img-top" alt="Resturants">
                <div class="card-body">
                <h4><%= data[i].storeName %></h4>
                  <p class="card-text"><%= data[i].desc %></p>
                 <center>
                     <a href="/stores/<%= data[i]._id%>" class="btn btn-outline-success my-2 my-sm-0" type="submit">View More</a>
                    </center> 
                </div>
              </div>
        </div>
    </div>
</div>
<%} %>
</div>
</div>

<%- include('./partials/footer'); -%> 