<%- include('./partials/header'); -%>
<div class="container">
<div class="row">
<% for(var i=0;i<data.length;i++) { %>
    <div class="col-sm-3">
    <div class="card shadow p-3 mb-5 bg-white rounded ">
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img src="<%=data[i].storeImage %>" class="card-img-top" alt="Resturants">
                <div class="card-body">
                <h4><%= data[i].storeName %></h4>
                  <p class="card-text"><%= data[i].desc %></p>
                 <center>
                     <a href="/stores/<%= data[i]._id%>" class="btn btn-outline-success my-2 my-sm-0" type="submit">View More</a>
                    </center> 
                </div>
              </div>
        </div>
    </div>
</div>
<%} %>
</div>
</div>

<%- include('./partials/footer'); -%> 