<%- include('./partials/header'); -%>

<h1>welcome to product page </h1>
<a href="product/newproduct" >add new product</a>
<div class="row" >
    <% for(let i=0; i<products.length; i++) { %>
            
            <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="<%= products[i].imageurl %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%=  products[i].productname %></h5>
                  <p class="card-text"> <h5>repos</h5> <%=  products[i].vote %></p>

                  <a href=" <%= %>" class="btn btn-primary">check profile</a>
                </div>
              </div>
    
    
    <%} %>
    </div>
<%- include('./partials/footer') ; -%>
 