<%- include('./partials/header'); -%>


<h1>welcome to the users page </h1>
<div class="row" >
<% for(let i=0; i<data.length; i++) { %>
        
        <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src="<%= data[i].avatar_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= data[i].login %></h5>
              <p class="card-text"> <h5>repos</h5> <%= data[i].repos_url %></p>
              <a href=" /users/<%= data[i].login  %>" class="btn btn-primary">check profile</a>
            </div>
          </div>


<%} %>
</div>

<%- include('./partials/footer') -%>


